* {
  box-sizing: border-box;
}

.myBtnContainer{
  font-size: 350px;
  position: centered;
  outline: none;
}

p{
  font-size: 25px;
  font-family: 'Lucida Sans',sans-serif;
  color:grey;
}

body {
  color:grey;
  background-color: #43464B;
  background-image: url('../img/background.png');
  padding: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans',sans-serif;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

h4{
  font-size: 38px;
  font-family: 'Lucida Sans',sans-serif;
  text-decoration: none;
  color: grey;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: black;
  padding: 10px;

}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  outline: none;
  border: none;
  height: 100px;
  width: 200px;
  font-size: 40px;
  padding: 1px 1px;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  outline: none;
  color:gray;
}

/* Add a dark background color to the active button */
.btn.active {
  outline: none;
  outline: 0;
  color: darkgray;
}
.btn:onclick {
  outline:0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  font-family: impact,charcoal,sans-serif;
}

.scene {
width: 50%;
margin: 0 auto;
width: 200px;
height: 200px;
perspective: 400px;
}

.cube {
width: 200px;
height: 200px;
position: relative;
transform-style: preserve-3d;
transform: translateZ(-100px);
transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
position: absolute;
width: 200px;
height: 200px;
border: 2px solid black;
line-height: 200px;
font-size: 40px;
font-weight: bold;
color: white;
text-align: center;
}

.cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

label { margin-right: 10px; }
